In [16]:
import requests
import numpy as np
import pandas as pd
from sshtunnel import SSHTunnelForwarder
import psycopg2 as psy
import time

In [17]:
def get_conn_postgres(SSH_required,key_path):   #for getting a connection as a result

    db='datawarehouse'
    DB_HOST='datawarehouse.cdgpvetprks3.ap-south-1.rds.amazonaws.com'
    conn = []
    if SSH_required == 'Yes':
        SSH_HOST='ec2-15-206-161-154.ap-south-1.compute.amazonaws.com'
        #LOCALHOST="0.0.0.0"
        ssh_tunnel= SSHTunnelForwarder(
                (SSH_HOST, 22),
                ssh_username="ec2-user",
                ssh_private_key= key_path,
                ssh_private_key_password= "",
                remote_bind_address=(DB_HOST, 5432),
                local_bind_address=('127.0.0.1', 0)
        )
        print('Tunnel Started')
        ssh_tunnel.start()
        conn = psy.connect(
            host=ssh_tunnel.local_bind_host,
            port=ssh_tunnel.local_bind_port,
            user='postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn
    else:
        conn = psy.connect(
            host = DB_HOST,
            port = 5432,
            user = 'postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn

In [18]:
def get_conn_readreplica(SSH_required,key_path):   #for getting a connection as a result

    db='datawarehouse'
    DB_HOST='gs-prod-new-db-read.cdgpvetprks3.ap-south-1.rds.amazonaws.com'
    conn = []
    if SSH_required == 'Yes':
        SSH_HOST='ec2-15-206-161-154.ap-south-1.compute.amazonaws.com'
        #LOCALHOST="0.0.0.0"
        ssh_tunnel= SSHTunnelForwarder(
                (SSH_HOST, 22),
                ssh_username="ec2-user",
                ssh_private_key= key_path,
                ssh_private_key_password= "",
                remote_bind_address=(DB_HOST, 5432),
                local_bind_address=('127.0.0.1', 0)
        )
        print('Tunnel Started')
        ssh_tunnel.start()
        conn = psy.connect(
            host=ssh_tunnel.local_bind_host,
            port=ssh_tunnel.local_bind_port,
            user='postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn
    else:
        conn = psy.connect(
            host = DB_HOST,
            port = 5432,
            user = 'postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn

In [19]:
def get_df_from_sql_postgres(SSH_required, query,key_path):   #for getting a datafarame as a result

    db='datawarehouse'
    DB_HOST='datawarehouse.cdgpvetprks3.ap-south-1.rds.amazonaws.com'
    conn = None
    if SSH_required == 'Yes':
        SSH_HOST='ec2-15-206-161-154.ap-south-1.compute.amazonaws.com'
        #LOCALHOST="0.0.0.0"
        ssh_tunnel= SSHTunnelForwarder(
                (SSH_HOST, 22),
                ssh_username="ec2-user",
                ssh_private_key= key_path,
                ssh_private_key_password= "",
                remote_bind_address=(DB_HOST, 5432),
                local_bind_address=('127.0.0.1', 0)
        )
        # ssh_tunnel._server_list[0].block_on_close = False
        ssh_tunnel.start()
        conn = psy.connect(
            host=ssh_tunnel.local_bind_host,
            port=ssh_tunnel.local_bind_port,
            user='postgres',
            password= "Simply1234",
            database='postgres')
        df_results = pd.read_sql(query, conn)
        conn.close()
        ssh_tunnel.stop()
        return df_results
    else:
        conn = psy.connect(
            host = DB_HOST,
            port = 5432,
            user = 'postgres',
            password= "Simply1234",
            database='postgres')
        df_results = pd.read_sql(query, conn)
        conn.close()
        return df_results

In [20]:
def get_df_from_sql_readreplica(SSH_required, query,key_path):   #for getting a datafarame as a result

    db='datawarehouse'
    DB_HOST='gs-prod-new-db-read.cdgpvetprks3.ap-south-1.rds.amazonaws.com'
    conn = None
    if SSH_required == 'Yes':
        SSH_HOST='ec2-15-206-161-154.ap-south-1.compute.amazonaws.com'
        #LOCALHOST="0.0.0.0"
        ssh_tunnel= SSHTunnelForwarder(
                (SSH_HOST, 22),
                ssh_username="ec2-user",
                ssh_private_key= key_path,
                ssh_private_key_password= "",
                remote_bind_address=(DB_HOST, 5432),
                local_bind_address=('127.0.0.1', 0)
        )
        # ssh_tunnel._server_list[0].block_on_close = False
        ssh_tunnel.start()
        conn = psy.connect(
            host=ssh_tunnel.local_bind_host,
            port=ssh_tunnel.local_bind_port,
            user='postgres',
            password= "Simply1234",
            database='postgres')
        df_results = pd.read_sql(query, conn)
        conn.close()
        ssh_tunnel.stop()
        return df_results
    else:
        conn = psy.connect(
            host = DB_HOST,
            port = 5432,
            user = 'postgres',
            password= "Simply1234",
            database='postgres')
        df_results = pd.read_sql(query, conn)
        conn.close()
        return df_results

In [21]:
def make_request(address, city):
    url = 'http://grow-simplee-nlb-prod-a264c46571856f67.elb.ap-south-1.amazonaws.com:9016/parse_address'
    headers = {'Content-Type': 'application/json'}
    data = {
        "address": address,
        "city": city
    }
    try:
        response = requests.post(url, headers=headers, json=data)
        response.raise_for_status()  # Raise an error for bad status codes
        
        response_json = response.json()
        
        # Extract lat_lng from the response JSON
        lat_lng = response_json.get('lat_lng', None)
        return lat_lng if lat_lng else None
        
    except requests.RequestException as e:
        print(f"An error occurred: {e}")
        print(f"Response content: {response.content}")
        return None

In [21]:
data = {
    'address': ['HYDERABAD Flat 106 Ashoka Spring Fields Kailash Nagar Ameenpur road Chandanagar Nursery before apartments on main road'],
    'city': ['Hyderabad']
}
df = pd.DataFrame(data)

# Get latitude and longitude for each address
df['lat_lng'] = df.apply(lambda row: make_request(row['address'], row['city']), axis=1)

print(df)

                                             address       city  \
0  HYDERABAD Flat 106 Ashoka Spring Fields Kailas...  Hyderabad

                    lat_lng
0  [17.5023033, 78.3174086]

In [22]:
# Usage with the actual path to the private key
SSH_required = 'Yes'
key_path = '/home/rajat/Downloads/tunnel-ssh .cer'
query = "select * from public.warehouses_warehouse where warehouse_city = 'Bangalore'"

# Establish a connection
conn = get_conn_readreplica(SSH_required, key_path)

# Retrieve data into a DataFrame
df_warehouse = get_df_from_sql_readreplica(SSH_required, query, key_path)
# df_warehouse = df_warehouse.iloc[:2]

# Now you can perform further operations with the DataFrame 'df_warehouse'
print(df_warehouse)

Tunnel Started
Connection Made
     warehouse_int_id                                       warehouse_id  \
0                1467                                             Source
1                1486                                                RK6
2                  14                                       WE_Bangalore
3                1507                                                 QA
4                1543                                           Damensch
..                ...                                                ...
401              2039                                             Subrat
402              2057  15 Ground Floor, SY No  131 3, Hoskote, Anjane...
403              2058  Survey No  1 1B 1 2P  Gangadharanaplya Village...
404              2088  Survey No  15 Ground Floor, SY No  131 3, Hosk...
405              2090  Survey No  15 Ground Floor, SY No  131 3, Hosk...

                                        warehouse_name       warehouse_gstin  \
0                                               Source       763872749872983
1                                                  RK6  93289498239849234234
2                               WE Warehouse Bangalore                sodjgh
3                                                   QA       123232323245656
4                                             Damensch                 NOGST
..                                                 ...                   ...
401                                             Subrat                 NOGST
402  15 Ground Floor, SY No  131 3, Hoskote, Anjane...                   TBD
403  Survey No  1 1B 1 2P  Gangadharanaplya Village...                   TBD
404  Survey No  15 Ground Floor, SY No  131 3, Hosk...                   TBD
405  Survey No  15 Ground Floor, SY No  131 3, Hosk...                   TBD

     warehouse_phone                                  warehouse_address  \
0    728197387298133                                             Source
1         7893749879                                                RK6
2         9455500191
3               4545                                              DGDFG
4         6363407643                                              Dummy
..               ...                                                ...
401       8984100412  Subhasmita Sahoo\n#105, 4th Main Road, Shamana...
402       7982813802  15 Ground Floor, SY No  131 3, Hoskote, Anjane...
403       9380399681  Survey No  1 1B 1 2P  Gangadharanaplya Village...
404       7982813802  Survey No  15 Ground Floor, SY No  131 3, Hosk...
405       7982813802  Survey No  15 Ground Floor, SY No  131 3, Hosk...

    warehouse_city warehouse_state  warehouse_pincode  \
0        Bangalore       Karnataka             560037
1        Bangalore       Karnataka             560034
2        Bangalore       Karnataka             560067
3        Bangalore       Karnataka             560043
4        Bangalore       Karnataka             560008
..             ...             ...                ...
401      Bangalore       Karnataka             560008
402      Bangalore       Karnataka             560067
403      Bangalore       Karnataka             562123
404      Bangalore       Karmataka             560067
405      Bangalore       Karmataka             560067

                         contact_name   contact_number wms_id op_owner  \
0                              Source  728197387298133      1        1
1                                 RK6      89898989898   TPv1     TPv1
2                     Mayank Varshney       9455500191      3        3
3                               ETRET             4545    368      368
4                            fhuwdjq`      89898989898   TPv8     TPv8
..                                ...              ...    ...      ...
401                  Subhasmita Sahoo       8984100412     42       42
402    ZYWIE VENTURES PRIVATE LIMITED       7982813802    381      381
403  UPRISING SCIENCE PRIVATE LIMITED       9380399681    381      381
404    ZYWIE VENTURES PRIVATE LIMITED       7982813802    411      411
405    ZYWIE VENTURES PRIVATE LIMITED       7982813802    381      381

     shipping_auto  stock_tracking
0             True           False
1             True            True
2             True            True
3             True           False
4             True            True
..             ...             ...
401           True           False
402           True           False
403           True           False
404           True           False
405           True           False

[406 rows x 15 columns]

In [25]:
query = "select * from application_db.node where city_name = 'Bangalore' and node_name <> 'BLR_OFSC'"
# Establish a connection
conn = get_conn_postgres(SSH_required, key_path)

# Retrieve data into a DataFrame
df_hubs = get_df_from_sql_postgres(SSH_required, query, key_path)
# df_hubs = df_hubs.iloc[:2]

# Now you can perform further operations with the DataFrame 'df_warehouse'
print(df_hubs)

df_active_hubs = pd.read_excel('active_hubs.xlsx')
print(df_active_hubs)

# Merge the dataframes based on the 'Node Name' column
active_hubs = pd.merge(df_hubs, df_active_hubs, left_on='node_name', right_on='Node Name', how='inner')

# Drop the 'Node Name' column as it's duplicated
active_hubs.drop(columns=['Node Name', 'Count'], inplace=True)

# Print the result
print(active_hubs)

Tunnel Started
Connection Made
    node_id  warehouse_id       node_name  location_id      team_names  \
0        18           182  UUTR-Franchise            1    BLR_FRH_UUTR
1        31           182  STNG-Franchise            1    BLR_FRH_STNG
2        12           182  NGWR-Franchise            1    BLR_FRH_NGWR
3         6           146      GSCAN TEST            1    test_lm_hub1
4         2           182     DS BLR BOMM            2          blr-lm
5         1           182      DS BLR MTH            1          blr-lm
6        10           182    BLR FRH ECTY            1    BLR_FRH_ECTY
7         7           182     DS BLR HBBL            1  GS_BLR_LM_HBBL
8        33           182  BLDR-Franchise            1    BLR_FRH_BLDR
9        32           182  CMRJ-Franchise            1    BLR_FRH_CMRJ
10       35           182  YLHK-Franchise            1    BLR_FRH_YLHK

    fuel_rate  distance_limit sort_codes  \
0           0               0   BLR/UTTR
1           0               0   BLR/STNG
2           0               0   BLR/NGWR
3           4             100   BLR/MRTH
4           3             100   BLR/JPNR
5           3             100   BLR/MRTH
6           0             100   BLR/ECTY
7           3             100   BLR/HBBL
8           0               0   BLR/BLDR
9           0               0   BLR/CMRJ
10          0               0   BLR/YLHK

                                              address   contact_name  \
0   No 179, 8th main Narayanaagar 2nd block Bangal...  Biswojit Jena
1   18/1/2, 1st Cross Rd, Raja Ram Mohanroy Extens...  Biswojit Jena
2   Nasreen taj, No - 29 ward no -25, 14th cross g...  Biswojit Jena
3                                                Test      Test Name
4   No. L/F , 2/1, B.D.A Flats 2nd Main, Bannergha...  Biswojit Jena
5   WMXX+V8R, Marathahalli Village, Marathahalli, ...  Biswojit Jena
6   #672 9th cross left side hosuroad Electronic c...  Biswojit Jena
7   46 , guddadahalli circle guddadahalli main roa...  Biswojit Jena
8   22/1A, 22/1B, Kariyammana Agrahara Rd, Kadubee...  Biswojit Jena
9   926, 13th Main, 10th cross Rd, near Srinagar B...  Biswojit Jena
10  Y V rammayya garden,gkvk post allasandra,Yelah...  Biswojit Jena

   contact_phone      node_type locus_home_base_id  city_name actual_city_name
0     9066859089  franchise_hub   BLR_FRH_UUTR_HUB  Bangalore        Bangalore
1     9066859089  franchise_hub   BLR_FRH_STNG_HUB  Bangalore        Bangalore
2     9066859089  franchise_hub     NGWR-Franchise  Bangalore        Bangalore
3       99999999         lm_hub      homebase_test  Bangalore        Bangalore
4     9066859089         lm_hub          blr-lmh-2  Bangalore        Bangalore
5     9066859089    central_hub          blr-lmh-4  Bangalore        Bangalore
6     9066859089  franchise_hub     ECTY-Franchise  Bangalore        Bangalore
7     9066859089         lm_hub          blr-lmh-3  Bangalore        Bangalore
8     9066859089  franchise_hub   BLR_FRH_BLDR_HUB  Bangalore        Bangalore
9     9066859089  franchise_hub   BLR_FRH_CMRJ_HUB  Bangalore        Bangalore
10    9066859089  franchise_hub   BLR_FRH_YLHK_HUB  Bangalore        Bangalore
        Node Name  Count
0  BLDR-Franchise   5435
1    BLR FRH ECTY   4915
2  CMRJ-Franchise   1713
3     DS BLR BOMM   8050
4     DS BLR HBBL   7013
5      DS BLR MTH   6770
6  STNG-Franchise   1561
7  UUTR-Franchise   3069
8  YLHK-Franchise   1295
   node_id  warehouse_id       node_name  location_id      team_names  \
0       18           182  UUTR-Franchise            1    BLR_FRH_UUTR
1       31           182  STNG-Franchise            1    BLR_FRH_STNG
2        2           182     DS BLR BOMM            2          blr-lm
3        1           182      DS BLR MTH            1          blr-lm
4       10           182    BLR FRH ECTY            1    BLR_FRH_ECTY
5        7           182     DS BLR HBBL            1  GS_BLR_LM_HBBL
6       33           182  BLDR-Franchise            1    BLR_FRH_BLDR
7       32           182  CMRJ-Franchise            1    BLR_FRH_CMRJ
8       35           182  YLHK-Franchise            1    BLR_FRH_YLHK

   fuel_rate  distance_limit sort_codes  \
0          0               0   BLR/UTTR
1          0               0   BLR/STNG
2          3             100   BLR/JPNR
3          3             100   BLR/MRTH
4          0             100   BLR/ECTY
5          3             100   BLR/HBBL
6          0               0   BLR/BLDR
7          0               0   BLR/CMRJ
8          0               0   BLR/YLHK

                                             address   contact_name  \
0  No 179, 8th main Narayanaagar 2nd block Bangal...  Biswojit Jena
1  18/1/2, 1st Cross Rd, Raja Ram Mohanroy Extens...  Biswojit Jena
2  No. L/F , 2/1, B.D.A Flats 2nd Main, Bannergha...  Biswojit Jena
3  WMXX+V8R, Marathahalli Village, Marathahalli, ...  Biswojit Jena
4  #672 9th cross left side hosuroad Electronic c...  Biswojit Jena
5  46 , guddadahalli circle guddadahalli main roa...  Biswojit Jena
6  22/1A, 22/1B, Kariyammana Agrahara Rd, Kadubee...  Biswojit Jena
7  926, 13th Main, 10th cross Rd, near Srinagar B...  Biswojit Jena
8  Y V rammayya garden,gkvk post allasandra,Yelah...  Biswojit Jena

  contact_phone      node_type locus_home_base_id  city_name actual_city_name
0    9066859089  franchise_hub   BLR_FRH_UUTR_HUB  Bangalore        Bangalore
1    9066859089  franchise_hub   BLR_FRH_STNG_HUB  Bangalore        Bangalore
2    9066859089         lm_hub          blr-lmh-2  Bangalore        Bangalore
3    9066859089    central_hub          blr-lmh-4  Bangalore        Bangalore
4    9066859089  franchise_hub     ECTY-Franchise  Bangalore        Bangalore
5    9066859089         lm_hub          blr-lmh-3  Bangalore        Bangalore
6    9066859089  franchise_hub   BLR_FRH_BLDR_HUB  Bangalore        Bangalore
7    9066859089  franchise_hub   BLR_FRH_CMRJ_HUB  Bangalore        Bangalore
8    9066859089  franchise_hub   BLR_FRH_YLHK_HUB  Bangalore        Bangalore

In [34]:
warehouse_lat_long_list = []

for index, row in df_warehouse.iterrows():
    lat_long = make_request(row['warehouse_address'], row['warehouse_city'])
    warehouse_lat_long_list.append(lat_long)
    # time.sleep(5)  # Delay between requests to avoid overloading the server

# Add the results to the DataFrame
df_warehouse['lat_long'] = warehouse_lat_long_list

# Print the DataFrame with latitude and longitude
print("\nDataFrame with lat_long:")
print(df_warehouse)

DataFrame with lat_long:
     warehouse_int_id                                       warehouse_id  \
0                1467                                             Source
1                1486                                                RK6
2                  14                                       WE_Bangalore
3                1507                                                 QA
4                1543                                           Damensch
..                ...                                                ...
401              2039                                             Subrat
402              2057  15 Ground Floor, SY No  131 3, Hoskote, Anjane...
403              2058  Survey No  1 1B 1 2P  Gangadharanaplya Village...
404              2088  Survey No  15 Ground Floor, SY No  131 3, Hosk...
405              2090  Survey No  15 Ground Floor, SY No  131 3, Hosk...

                                        warehouse_name       warehouse_gstin  \
0                                               Source       763872749872983
1                                                  RK6  93289498239849234234
2                               WE Warehouse Bangalore                sodjgh
3                                                   QA       123232323245656
4                                             Damensch                 NOGST
..                                                 ...                   ...
401                                             Subrat                 NOGST
402  15 Ground Floor, SY No  131 3, Hoskote, Anjane...                   TBD
403  Survey No  1 1B 1 2P  Gangadharanaplya Village...                   TBD
404  Survey No  15 Ground Floor, SY No  131 3, Hosk...                   TBD
405  Survey No  15 Ground Floor, SY No  131 3, Hosk...                   TBD

     warehouse_phone                                  warehouse_address  \
0    728197387298133                                             Source
1         7893749879                                                RK6
2         9455500191
3               4545                                              DGDFG
4         6363407643                                              Dummy
..               ...                                                ...
401       8984100412  Subhasmita Sahoo\n#105, 4th Main Road, Shamana...
402       7982813802  15 Ground Floor, SY No  131 3, Hoskote, Anjane...
403       9380399681  Survey No  1 1B 1 2P  Gangadharanaplya Village...
404       7982813802  Survey No  15 Ground Floor, SY No  131 3, Hosk...
405       7982813802  Survey No  15 Ground Floor, SY No  131 3, Hosk...

    warehouse_city warehouse_state  warehouse_pincode  \
0        Bangalore       Karnataka             560037
1        Bangalore       Karnataka             560034
2        Bangalore       Karnataka             560067
3        Bangalore       Karnataka             560043
4        Bangalore       Karnataka             560008
..             ...             ...                ...
401      Bangalore       Karnataka             560008
402      Bangalore       Karnataka             560067
403      Bangalore       Karnataka             562123
404      Bangalore       Karmataka             560067
405      Bangalore       Karmataka             560067

                         contact_name   contact_number wms_id op_owner  \
0                              Source  728197387298133      1        1
1                                 RK6      89898989898   TPv1     TPv1
2                     Mayank Varshney       9455500191      3        3
3                               ETRET             4545    368      368
4                            fhuwdjq`      89898989898   TPv8     TPv8
..                                ...              ...    ...      ...
401                  Subhasmita Sahoo       8984100412     42       42
402    ZYWIE VENTURES PRIVATE LIMITED       7982813802    381      381
403  UPRISING SCIENCE PRIVATE LIMITED       9380399681    381      381
404    ZYWIE VENTURES PRIVATE LIMITED       7982813802    411      411
405    ZYWIE VENTURES PRIVATE LIMITED       7982813802    381      381

     shipping_auto  stock_tracking                         lat_long
0             True           False          [12.9427767, 77.615904]
1             True            True         [12.9715987, 77.5945627]
2             True            True                             None
3             True           False         [12.9715987, 77.5945627]
4             True            True         [12.9165757, 77.6101163]
..             ...             ...                              ...
401           True           False  [12.9743197, 77.63228699999999]
402           True           False         [13.0692593, 77.7982428]
403           True           False          [13.165214, 77.4092323]
404           True           False         [13.0692593, 77.7982428]
405           True           False         [13.0692593, 77.7982428]

[406 rows x 16 columns]

In [26]:
hubs_lat_long_list = []

for index, row in active_hubs.iterrows():
    lat_long = make_request(row['address'], row['city_name'])
    hubs_lat_long_list.append(lat_long)
    # time.sleep(5)  # Delay between requests to avoid overloading the server

# Add the results to the DataFrame
active_hubs['lat_long'] = hubs_lat_long_list

# Print the DataFrame with latitude and longitude
print("\nDataFrame with lat_long:")
print(active_hubs)

DataFrame with lat_long:
   node_id  warehouse_id       node_name  location_id      team_names  \
0       18           182  UUTR-Franchise            1    BLR_FRH_UUTR
1       31           182  STNG-Franchise            1    BLR_FRH_STNG
2        2           182     DS BLR BOMM            2          blr-lm
3        1           182      DS BLR MTH            1          blr-lm
4       10           182    BLR FRH ECTY            1    BLR_FRH_ECTY
5        7           182     DS BLR HBBL            1  GS_BLR_LM_HBBL
6       33           182  BLDR-Franchise            1    BLR_FRH_BLDR
7       32           182  CMRJ-Franchise            1    BLR_FRH_CMRJ
8       35           182  YLHK-Franchise            1    BLR_FRH_YLHK

   fuel_rate  distance_limit sort_codes  \
0          0               0   BLR/UTTR
1          0               0   BLR/STNG
2          3             100   BLR/JPNR
3          3             100   BLR/MRTH
4          0             100   BLR/ECTY
5          3             100   BLR/HBBL
6          0               0   BLR/BLDR
7          0               0   BLR/CMRJ
8          0               0   BLR/YLHK

                                             address   contact_name  \
0  No 179, 8th main Narayanaagar 2nd block Bangal...  Biswojit Jena
1  18/1/2, 1st Cross Rd, Raja Ram Mohanroy Extens...  Biswojit Jena
2  No. L/F , 2/1, B.D.A Flats 2nd Main, Bannergha...  Biswojit Jena
3  WMXX+V8R, Marathahalli Village, Marathahalli, ...  Biswojit Jena
4  #672 9th cross left side hosuroad Electronic c...  Biswojit Jena
5  46 , guddadahalli circle guddadahalli main roa...  Biswojit Jena
6  22/1A, 22/1B, Kariyammana Agrahara Rd, Kadubee...  Biswojit Jena
7  926, 13th Main, 10th cross Rd, near Srinagar B...  Biswojit Jena
8  Y V rammayya garden,gkvk post allasandra,Yelah...  Biswojit Jena

  contact_phone      node_type locus_home_base_id  city_name actual_city_name  \
0    9066859089  franchise_hub   BLR_FRH_UUTR_HUB  Bangalore        Bangalore
1    9066859089  franchise_hub   BLR_FRH_STNG_HUB  Bangalore        Bangalore
2    9066859089         lm_hub          blr-lmh-2  Bangalore        Bangalore
3    9066859089    central_hub          blr-lmh-4  Bangalore        Bangalore
4    9066859089  franchise_hub     ECTY-Franchise  Bangalore        Bangalore
5    9066859089         lm_hub          blr-lmh-3  Bangalore        Bangalore
6    9066859089  franchise_hub   BLR_FRH_BLDR_HUB  Bangalore        Bangalore
7    9066859089  franchise_hub   BLR_FRH_CMRJ_HUB  Bangalore        Bangalore
8    9066859089  franchise_hub   BLR_FRH_YLHK_HUB  Bangalore        Bangalore

                          lat_long
0  [12.8743079, 77.55229159999999]
1  [12.9594816, 77.59276179999999]
2  [12.9144032, 77.59958150000001]
3         [12.9497375, 77.6982656]
4         [12.8307773, 77.6612892]
5          [13.0405585, 77.595625]
6         [12.9394122, 77.6921294]
7         [12.9467756, 77.5519109]
8          [13.0725756, 77.592424]

In [37]:
# Save DataFrame to a CSV file
csv_file_path = 'warehouses_w_lat_lng_blr.csv'
df_warehouse.to_csv(csv_file_path, index=False)

# Provide a link to download the CSV file
print(f"Warehouse file saved as {csv_file_path}.")

Warehouse file saved as warehouses_w_lat_lng_blr.csv.

In [27]:
# Save DataFrame to a CSV file
csv_file_path = 'hubs_w_lat_lng_blr.csv'
active_hubs.to_csv(csv_file_path, index=False)

# Provide a link to download the CSV file
print(f"Hubs file saved as {csv_file_path}.")

Hubs file saved as hubs_w_lat_lng_blr.csv.