In [3]:
from sshtunnel import SSHTunnelForwarder
import psycopg2 as psy
import pandas as pd
from IPython.display import FileLink
import geopandas as gpd
import plotly.express as px
from dash import Dash, dcc, html, Input, Output
import paramiko
from io import StringIO
from shapely.geometry import MultiPoint, MultiPolygon
from sklearn import preprocessing, cluster
import scipy
import scipy.cluster
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from shapely.ops import unary_union
import calendar
from datetime import datetime

/home/rajat/anaconda3/envs/gisenv/lib/python3.11/site-packages/paramiko/transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated and will be removed in a future release
  "class": algorithms.Blowfish,

In [4]:
def get_conn(SSH_required,key_path):   #for getting a connection as a result

    db='datawarehouse'
    DB_HOST='datawarehouse.cdgpvetprks3.ap-south-1.rds.amazonaws.com'
    conn = []
    if SSH_required == 'Yes':
        SSH_HOST='ec2-15-206-161-154.ap-south-1.compute.amazonaws.com'
        #LOCALHOST="0.0.0.0"
        ssh_tunnel= SSHTunnelForwarder(
                (SSH_HOST, 22),
                ssh_username="ec2-user",
                ssh_private_key= key_path,
                ssh_private_key_password= "",
                remote_bind_address=(DB_HOST, 5432),
                local_bind_address=('127.0.0.1', 0)
        )
        print('Tunnel Started')
        ssh_tunnel.start()
        conn = psy.connect(
            host=ssh_tunnel.local_bind_host,
            port=ssh_tunnel.local_bind_port,
            user='postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn
    else:
        conn = psy.connect(
            host = DB_HOST,
            port = 5432,
            user = 'postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn

In [5]:
def get_df_from_sql(SSH_required, query,key_path):   #for getting a datafarame as a result

    db='datawarehouse'
    DB_HOST='datawarehouse.cdgpvetprks3.ap-south-1.rds.amazonaws.com'
    conn = None
    if SSH_required == 'Yes':
        SSH_HOST='ec2-15-206-161-154.ap-south-1.compute.amazonaws.com'
        #LOCALHOST="0.0.0.0"
        ssh_tunnel= SSHTunnelForwarder(
                (SSH_HOST, 22),
                ssh_username="ec2-user",
                ssh_private_key= key_path,
                ssh_private_key_password= "",
                remote_bind_address=(DB_HOST, 5432),
                local_bind_address=('127.0.0.1', 0)
        )
        # ssh_tunnel._server_list[0].block_on_close = False
        ssh_tunnel.start()
        conn = psy.connect(
            host=ssh_tunnel.local_bind_host,
            port=ssh_tunnel.local_bind_port,
            user='postgres',
            password= "Simply1234",
            database='postgres')
        df_results = pd.read_sql(query, conn)
        conn.close()
        ssh_tunnel.stop()
        return df_results
    else:
        conn = psy.connect(
            host = DB_HOST,
            port = 5432,
            user = 'postgres',
            password= "Simply1234",
            database='postgres')
        df_results = pd.read_sql(query, conn)
        conn.close()
        return df_results

In [6]:
# Usage with the actual path to the private key
SSH_required = 'Yes'
key_path = '/Users/rajatsansaniwal/Documents/tunnel-ssh .cer'
query = "select case when shipping_city = 'NCR' then 'Delhi' else shipping_city end as shipping_city, shipping_pincode, count(*) as orders from public.ops_main where date_trunc('month', created_date) = date_trunc('month', now()) and shipping_partner = 'Hyperlocal' group by shipping_city, shipping_pincode;"

# Establish a connection
conn = get_conn(SSH_required, key_path)

# Retrieve data into a DataFrame
df = get_df_from_sql(SSH_required, query, key_path)

# Now you can perform further operations with the DataFrame 'df'
# print(df)

Tunnel Started
Connection Made

In [7]:
# Reading GeoJSON
gdf_geojson = gpd.read_file("/home/rajat/GIS Blitznow/India_Pincodes/india_pincodes.shp")

# If the current CRS is geographic, re-project to UTM (EPSG:32644)
if gdf_geojson.crs.is_geographic:
    gdf_geojson = gdf_geojson.to_crs('EPSG:32644')

In [8]:
print(gdf_geojson)

      pincode      state   district    officename officetype  \
0      321023  Rajasthan  Bharatpur       Jurhera        S.O
1      322236  Rajasthan    Karauli      Dhindora        S.O
2      321024  Rajasthan  Bharatpur         Sikri        S.O
3      322252  Rajasthan    Karauli        Suroth        S.O
4      321201  Rajasthan  Bharatpur        Kumher        S.O
...       ...        ...        ...           ...        ...
19923  321001  Rajasthan  Bharatpur     Bharatpur        H.O
19924  321006  Rajasthan      Alwar  Kherli Mandi        B.O
19925  322234  Rajasthan    Karauli         Kheda        S.O
19926  321022  Rajasthan  Bharatpur      Kamanlsg        S.O
19927  365450    Gujarat     Amreli      Kunkavav        S.O

                                                geometry
0      POLYGON ((119407.644 3076831.433, 119463.598 3...
1      POLYGON ((109494.095 2974773.564, 109195.126 2...
2      POLYGON ((98855.834 3060564.045, 98838.681 306...
3      POLYGON ((115874.990 2970698.630, 116076.898 2...
4      POLYGON ((124823.419 3029614.901, 124834.449 3...
...                                                  ...
19923  POLYGON ((145776.110 3009781.616, 145830.336 3...
19924  POLYGON ((105597.581 3014348.704, 105633.609 3...
19925  POLYGON ((95797.684 2956634.744, 95451.201 295...
19926  POLYGON ((121312.604 3061935.503, 121284.686 3...
19927  POLYGON ((-539011.224 2419326.543, -538850.676...

[19928 rows x 6 columns]

In [9]:
# Calculating the areas of pincodes
gdf_geojson['area'] = gdf_geojson['geometry'].area / 10**6

# Calculating centroids of pincodes
gdf_geojson = gdf_geojson.to_crs(epsg=4326)

gdf_geojson['latitude'] = gdf_geojson['geometry'].centroid.y
gdf_geojson['longitude'] = gdf_geojson['geometry'].centroid.x

# print(gdf_geojson.head())

In [10]:
# Ensure the pincode column datatype is consistent
df['shipping_pincode'] = df['shipping_pincode'].astype(str)
gdf_geojson['pincode'] = gdf_geojson['pincode'].astype(str)

# Merge GeoDataFrame and DataFrame
merged_gdf = gdf_geojson.merge(df, left_on='pincode', right_on='shipping_pincode')


# Orders per area
merged_gdf['orders per sq km'] = merged_gdf['orders'] / merged_gdf['area']
merged_gdf = merged_gdf[merged_gdf['orders per sq km'] > 5]


clustered_dff = pd.DataFrame()
k = 10

for city, city_data in merged_gdf.groupby("shipping_city"):
    # Check the number of samples in the city_data
    if len(city_data) >= k:  #'k' is the desired number of clusters
        # Selecting features for clustering, including 'latitude', 'longitude', and 'orders per sq km'
#         X = city_data[["latitude", "longitude", "orders per sq km"]]
        X = city_data[["latitude", "longitude"]]
        # Standardize the features
        scaler = StandardScaler()
        X_scaled = scaler.fit_transform(X)

        # Apply KMeans clustering
        model = cluster.KMeans(n_clusters=k, init='k-means++')
        dtf_X = X.copy()
        dtf_X["cluster"] = model.fit_predict(X_scaled) + 1  # Add 1 to make clusters start from 1

        # Find centroids
        closest, distances = scipy.cluster.vq.vq(model.cluster_centers_, X_scaled)
        dtf_X["centroids"] = 0
        for i in closest:
            dtf_X["centroids"].iloc[i] = 1

        # Update 'cluster' and 'centroids' columns in original city_data
        city_data[["cluster", "centroids"]] = dtf_X[["cluster", "centroids"]]

        # Concatenate the clustered city_data to the final DataFrame
        clustered_dff = pd.concat([clustered_dff, city_data])
        
clustered_dff['current_date'] = datetime.now()
_, last_day_of_month = calendar.monthrange(clustered_dff['current_date'].dt.year.iloc[0], clustered_dff['current_date'].dt.month.iloc[0])
clustered_dff['gone_days'] = clustered_dff['current_date'].dt.day
clustered_dff['drr'] = clustered_dff['orders'] / clustered_dff['gone_days']

print(clustered_dff)

    pincode        state       district                  officename  \
12   560056    Karnataka      Bangalore     Bnagalore Viswavidalaya
18   560011    Karnataka      Bangalore          Jayangar III Block
19   560002    Karnataka      Bangalore  Sri Jayachamarajendra Road
20   560017    Karnataka      Bangalore                         NAL
21   560003    Karnataka      Bangalore                 Malleswaram
..      ...          ...            ...                         ...
465  400092  Maharashtra         Mumbai               Borivali West
467  400001  Maharashtra         Mumbai               Mumbai G.P.O.
468  400083  Maharashtra         Mumbai             Kannamwar Nagar
469  400089  Maharashtra         Mumbai        Tilak Nagar (Mumbai)
474  400066  Maharashtra  Mumbai, Thane       Daulat Nagar (Mumbai)

    officetype                                           geometry        area  \
12         S.O  POLYGON ((77.52018 12.95239, 77.52019 12.95237...   14.106327
18         S.O  POLYGON ((77.58009 12.93669, 77.58062 12.93668...    1.549247
19         S.O  POLYGON ((77.57450 12.95974, 77.57406 12.95990...    2.575045
20         S.O  POLYGON ((77.67175 12.94089, 77.67136 12.94028...   10.993389
21         S.O  POLYGON ((77.56012 13.00773, 77.56047 13.00771...    3.033743
..         ...                                                ...         ...
465        S.O  POLYGON ((72.78379 19.26175, 72.78612 19.26091...   26.707289
467        H.O  MULTIPOLYGON (((72.93165 18.96878, 72.93222 18...    6.480841
468        S.O  POLYGON ((72.95755 19.09076, 72.95536 19.09145...    5.889970
469        S.O  POLYGON ((72.89090 19.06823, 72.89173 19.06832...    1.334611
474        S.O  POLYGON ((72.89190 19.13757, 72.89217 19.13810...  101.439439

      latitude  longitude shipping_city shipping_pincode  orders  \
12   12.947694  77.496981     Bangalore           560056    1129
18   12.930216  77.585120     Bangalore           560011     751
19   12.962735  77.580647     Bangalore           560002     331
20   12.954162  77.663892     Bangalore           560017    1317
21   13.001100  77.572500     Bangalore           560003     661
..         ...        ...           ...              ...     ...
465  19.232440  72.803642        Mumbai           400092     865
467  18.947166  72.875751        Mumbai           400001     556
468  19.108669  72.942075        Mumbai           400083     728
469  19.069681  72.898682        Mumbai           400089     705
474  19.215930  72.909992        Mumbai           400066     535

     orders per sq km  cluster  centroids               current_date  \
12          80.035010        6          1 2024-05-21 18:34:59.246769
18         484.751563        7          0 2024-05-21 18:34:59.246769
19         128.541425        8          0 2024-05-21 18:34:59.246769
20         119.799275        3          0 2024-05-21 18:34:59.246769
21         217.882680        2          0 2024-05-21 18:34:59.246769
..                ...      ...        ...                        ...
465         32.388162        9          0 2024-05-21 18:34:59.246769
467         85.791333        6          0 2024-05-21 18:34:59.246769
468        123.599943       10          0 2024-05-21 18:34:59.246769
469        528.243740        5          0 2024-05-21 18:34:59.246769
474          5.274083        2          0 2024-05-21 18:34:59.246769

     gone_days        drr
12          21  53.761905
18          21  35.761905
19          21  15.761905
20          21  62.714286
21          21  31.476190
..         ...        ...
465         21  41.190476
467         21  26.476190
468         21  34.666667
469         21  33.571429
474         21  25.476190

[377 rows x 18 columns]

In [11]:
from shapely.ops import unary_union

cluster_boundaries_gdf = gpd.GeoDataFrame(columns=['shipping_city', 'cluster', 'orders', 'geometry'])

for (city, cluster), cluster_data in clustered_dff.groupby(['shipping_city', 'cluster']):
    if len(cluster_data) >= 1:
        cluster_multipolygon = unary_union(cluster_data['geometry'])
    
        # cluster_boundaries_gdf = cluster_boundaries_gdf.append({
        #     'shipping_city': city,
        #     'cluster': cluster,
        #     'geometry': cluster_multipolygon,
        #     'orders': cluster_data['orders'].sum(),
        #     'number of pincodes': cluster_data['shipping_pincode'].count()
        # }, ignore_index=True)
        cluster_boundaries_gdf = pd.concat([cluster_boundaries_gdf, gpd.GeoDataFrame({
            'shipping_city': city,
            'cluster': cluster,
            'geometry': [cluster_multipolygon],
            'orders': cluster_data['orders'].sum(),
            'number of pincodes': cluster_data['shipping_pincode'].count()
        })], ignore_index=True)


# Ensure the CRS of the new GeoDataFrame is set
cluster_boundaries_gdf.crs = clustered_dff.crs

# If the current CRS is geographic, re-project to UTM (EPSG:32644)
if 'EPSG:4326' in str(cluster_boundaries_gdf.crs):
    # Set the CRS to UTM (EPSG:32644)
    cluster_boundaries_gdf = cluster_boundaries_gdf.to_crs('EPSG:32644')

# Calculate the areas and add a new column 'area' to the GeoDataFrame
cluster_boundaries_gdf['area'] = cluster_boundaries_gdf['geometry'].to_crs('EPSG:32644').area / 10**6
cluster_boundaries_gdf = cluster_boundaries_gdf.to_crs('EPSG:4326')
cluster_boundaries_gdf['orders per sq km'] = cluster_boundaries_gdf['orders'] / cluster_boundaries_gdf['area']


cluster_boundaries_gdf['current_date'] = datetime.now()
_, last_day_of_month = calendar.monthrange(cluster_boundaries_gdf['current_date'].dt.year.iloc[0], cluster_boundaries_gdf['current_date'].dt.month.iloc[0])
cluster_boundaries_gdf['gone_days'] = cluster_boundaries_gdf['current_date'].dt.day
cluster_boundaries_gdf['drr per sq km'] = cluster_boundaries_gdf['orders per sq km'] / cluster_boundaries_gdf['gone_days']
cluster_boundaries_gdf['drr'] = cluster_boundaries_gdf['orders'] / cluster_boundaries_gdf['gone_days']

print(cluster_boundaries_gdf)

   shipping_city cluster orders  \
0      Bangalore       1  14172
1      Bangalore       2   7987
2      Bangalore       3  14030
3      Bangalore       4   7873
4      Bangalore       5  20970
5      Bangalore       6   5518
6      Bangalore       7   9271
7      Bangalore       8   9737
8      Bangalore       9   4787
9      Bangalore      10  15379
10         Delhi       1  11394
11         Delhi       2  17858
12         Delhi       3  17923
13         Delhi       4  21018
14         Delhi       5  16270
15         Delhi       6  25424
16         Delhi       7   5461
17         Delhi       8  15619
18         Delhi       9  16734
19         Delhi      10   5543
20     Hyderabad       1   5829
21     Hyderabad       2   7059
22     Hyderabad       3   4179
23     Hyderabad       4   7955
24     Hyderabad       5   5115
25     Hyderabad       6   6763
26     Hyderabad       7   4832
27     Hyderabad       8   2779
28     Hyderabad       9   4845
29     Hyderabad      10  10893
30        Jaipur       1   1582
31        Jaipur       2   2149
32        Jaipur       3    319
33        Jaipur       4   1648
34        Jaipur       5   1808
35        Jaipur       6    901
36        Jaipur       7    310
37        Jaipur       8   1829
38        Jaipur       9   2748
39        Jaipur      10    713
40        Mumbai       1   7604
41        Mumbai       2   6221
42        Mumbai       3   6143
43        Mumbai       4   4418
44        Mumbai       5   8680
45        Mumbai       6   7770
46        Mumbai       7   5224
47        Mumbai       8   7754
48        Mumbai       9   4959
49        Mumbai      10   3178

                                             geometry  number of pincodes  \
0   POLYGON ((77.60959 12.85491, 77.60949 12.85472...                 8.0
1   POLYGON ((77.57475 12.98407, 77.57476 12.98425...                13.0
2   POLYGON ((77.67175 12.94089, 77.67136 12.94028...                13.0
3   POLYGON ((77.61364 13.06187, 77.61428 13.06100...                 5.0
4   POLYGON ((77.73138 12.89003, 77.73181 12.88967...                 6.0
5   POLYGON ((77.52828 12.90798, 77.52757 12.90681...                 7.0
6   POLYGON ((77.59997 12.91668, 77.59985 12.91668...                12.0
7   POLYGON ((77.55212 12.91964, 77.55216 12.91969...                15.0
8   POLYGON ((77.55080 13.01142, 77.55073 13.01137...                 9.0
9   POLYGON ((77.77054 12.96121, 77.77041 12.96097...                 5.0
10  POLYGON ((77.16579 28.42473, 77.16926 28.42633...                10.0
11  POLYGON ((77.10338 28.63439, 77.10466 28.63441...                15.0
12  POLYGON ((77.23209 28.53358, 77.23196 28.53298...                18.0
13  POLYGON ((76.96070 28.42971, 76.96124 28.42995...                13.0
14  MULTIPOLYGON (((77.25664 28.61388, 77.25620 28...                 9.0
15  POLYGON ((77.14301 28.55316, 77.14365 28.55277...                11.0
16  POLYGON ((77.02460 28.56147, 77.02478 28.56133...                 5.0
17  POLYGON ((77.41637 28.56489, 77.41620 28.56473...                 7.0
18  POLYGON ((77.18082 28.66451, 77.18189 28.66679...                 9.0
19  POLYGON ((77.34111 28.35850, 77.34111 28.35850...                 6.0
20  POLYGON ((78.55324 17.40842, 78.55297 17.40798...                 9.0
21  POLYGON ((78.44828 17.43748, 78.44832 17.43692...                 8.0
22  POLYGON ((78.54614 17.43524, 78.54651 17.43547...                 5.0
23  POLYGON ((78.39726 17.49570, 78.39842 17.49524...                 4.0
24  MULTIPOLYGON (((78.38533 17.34948, 78.38462 17...                 5.0
25  POLYGON ((78.45106 17.49066, 78.45097 17.49037...                 5.0
26  MULTIPOLYGON (((78.49435 17.34618, 78.49466 17...                11.0
27  POLYGON ((78.54012 17.51300, 78.54015 17.51246...                 4.0
28  POLYGON ((78.51225 17.45383, 78.51176 17.45303...                 7.0
29  POLYGON ((78.38617 17.46739, 78.38624 17.46710...                 5.0
30  POLYGON ((75.80829 26.86772, 75.80841 26.86769...                 1.0
31  POLYGON ((75.77010 26.87885, 75.76964 26.87913...                 3.0
32  POLYGON ((75.73384 26.89517, 75.73416 26.89455...                 2.0
33  POLYGON ((75.81249 26.89961, 75.81299 26.90027...                 3.0
34  POLYGON ((75.66743 26.88080, 75.66415 26.88410...                 1.0
35  POLYGON ((75.83770 26.74770, 75.83676 26.74543...                 2.0
36  POLYGON ((75.79088 26.97291, 75.79129 26.97781...                 1.0
37  POLYGON ((75.81445 26.90383, 75.81445 26.90380...                 3.0
38  POLYGON ((75.78541 26.83876, 75.78523 26.83832...                 3.0
39  POLYGON ((75.79088 26.97291, 75.79054 26.96879...                 2.0
40  POLYGON ((72.85056 19.01467, 72.85132 19.01551...                11.0
41  MULTIPOLYGON (((72.95915 19.10144, 72.95877 19...                 7.0
42  POLYGON ((72.88426 19.12837, 72.88434 19.12805...                 8.0
43  POLYGON ((72.82787 18.92173, 72.82939 18.92283...                12.0
44  MULTIPOLYGON (((72.88392 19.00844, 72.88439 19...                12.0
45  MULTIPOLYGON (((72.90536 18.96093, 72.90556 18...                15.0
46  POLYGON ((72.84274 19.09042, 72.84203 19.08477...                10.0
47  POLYGON ((72.96242 19.17775, 72.96460 19.17986...                 9.0
48  POLYGON ((72.83507 19.15961, 72.83495 19.15957...                 7.0
49  POLYGON ((72.94365 19.03959, 72.94340 19.03724...                 6.0

          area orders per sq km               current_date  gone_days  \
0   170.641582        83.051269 2024-05-21 18:35:02.663106         21
1    44.065204       181.254126 2024-05-21 18:35:02.663106         21
2    84.266376       166.495828 2024-05-21 18:35:02.663106         21
3   132.781315        59.292981 2024-05-21 18:35:02.663106         21
4   160.893210       130.334897 2024-05-21 18:35:02.663106         21
5    72.935663        75.655718 2024-05-21 18:35:02.663106         21
6    38.391268       241.487205 2024-05-21 18:35:02.663106         21
7    52.963338       183.844152 2024-05-21 18:35:02.663106         21
8    53.624528        89.268852 2024-05-21 18:35:02.663106         21
9    87.478693        175.80281 2024-05-21 18:35:02.663106         21
10  179.685291        63.410867 2024-05-21 18:35:02.663106         21
11   82.995765       215.167606 2024-05-21 18:35:02.663106         21
12  134.681643       133.076785 2024-05-21 18:35:02.663106         21
13  186.407393       112.753039 2024-05-21 18:35:02.663106         21
14   80.132596       203.038474 2024-05-21 18:35:02.663106         21
15  184.329154       137.927178 2024-05-21 18:35:02.663106         21
16  186.713243        29.248059 2024-05-21 18:35:02.663106         21
17  207.504083        75.270808 2024-05-21 18:35:02.663106         21
18  137.297886       121.880973 2024-05-21 18:35:02.663106         21
19  152.126306        36.436828 2024-05-21 18:35:02.663106         21
20   45.846071       127.142847 2024-05-21 18:35:02.663106         21
21   42.167530       167.403686 2024-05-21 18:35:02.663106         21
22   48.514475         86.13924 2024-05-21 18:35:02.663106         21
23   56.511598       140.767565 2024-05-21 18:35:02.663106         21
24   35.500372       144.082997 2024-05-21 18:35:02.663106         21
25   56.854224       118.953342 2024-05-21 18:35:02.663106         21
26   33.547441        144.03483 2024-05-21 18:35:02.663106         21
27   54.626462         50.87278 2024-05-21 18:35:02.663106         21
28   58.276929        83.137532 2024-05-21 18:35:02.663106         21
29   60.232430       180.849418 2024-05-21 18:35:02.663106         21
30   36.902111        42.870176 2024-05-21 18:35:02.663106         21
31   28.543120        75.289598 2024-05-21 18:35:02.663106         21
32   16.086035        19.830865 2024-05-21 18:35:02.663106         21
33   41.873778        39.356373 2024-05-21 18:35:02.663106         21
34  175.871859        10.280212 2024-05-21 18:35:02.663106         21
35   28.521832        31.589836 2024-05-21 18:35:02.663106         21
36   58.279702         5.319176 2024-05-21 18:35:02.663106         21
37   24.543595        74.520459 2024-05-21 18:35:02.663106         21
38   41.619979        66.025983 2024-05-21 18:35:02.663106         21
39   14.386652        49.559827 2024-05-21 18:35:02.663106         21
40   38.092388       199.619934 2024-05-21 18:35:02.663106         21
41  145.042100        42.890995 2024-05-21 18:35:02.663106         21
42   41.026755       149.731558 2024-05-21 18:35:02.663106         21
43   16.495626       267.828568 2024-05-21 18:35:02.663106         21
44   65.447747       132.624886 2024-05-21 18:35:02.663106         21
45   36.602471       212.280752 2024-05-21 18:35:02.663106         21
46   42.113504       124.045722 2024-05-21 18:35:02.663106         21
47   66.363732       116.840928 2024-05-21 18:35:02.663106         21
48   73.947116        67.061439 2024-05-21 18:35:02.663106         21
49   46.266647         68.68879 2024-05-21 18:35:02.663106         21

   drr per sq km          drr
0       3.954822   674.857143
1       8.631149   380.333333
2       7.928373   668.095238
3       2.823475   374.904762
4       6.206424   998.571429
5       3.602653   262.761905
6      11.499391    441.47619
7       8.754483   463.666667
8       4.250898   227.952381
9       8.371562   732.333333
10      3.019565   542.571429
11     10.246076   850.380952
12       6.33699    853.47619
13      5.369192  1000.857143
14      9.668499   774.761905
15      6.567961  1210.666667
16      1.392765   260.047619
17      3.584324   743.761905
18      5.803856   796.857143
19      1.735087   263.952381
20      6.054421   277.571429
21      7.971604   336.142857
22      4.101869        199.0
23      6.703217   378.809524
24      6.861095   243.571429
25      5.664445   322.047619
26      6.858801   230.095238
27      2.422513   132.333333
28       3.95893   230.714286
29      8.611877   518.714286
30      2.041437    75.333333
31      3.585219   102.333333
32      0.944327    15.190476
33      1.874113     78.47619
34      0.489534    86.095238
35      1.504278    42.904762
36      0.253294    14.761905
37      3.548593    87.095238
38      3.144094   130.857143
39      2.359992    33.952381
40      9.505711   362.095238
41      2.042428   296.238095
42      7.130074    292.52381
43     12.753741   210.380952
44      6.315471   413.333333
45     10.108607        370.0
46      5.906939   248.761905
47      5.563854   369.238095
48      3.193402   236.142857
49      3.270895   151.333333

In [12]:
# FIltering datas based on cluster drr
filter_df = cluster_boundaries_gdf[['shipping_city', 'cluster', 'drr']].rename(columns={'drr': 'cluster_drr'})
print(filter_df)

   shipping_city cluster  cluster_drr
0      Bangalore       1   674.857143
1      Bangalore       2   380.333333
2      Bangalore       3   668.095238
3      Bangalore       4   374.904762
4      Bangalore       5   998.571429
5      Bangalore       6   262.761905
6      Bangalore       7    441.47619
7      Bangalore       8   463.666667
8      Bangalore       9   227.952381
9      Bangalore      10   732.333333
10         Delhi       1   542.571429
11         Delhi       2   850.380952
12         Delhi       3    853.47619
13         Delhi       4  1000.857143
14         Delhi       5   774.761905
15         Delhi       6  1210.666667
16         Delhi       7   260.047619
17         Delhi       8   743.761905
18         Delhi       9   796.857143
19         Delhi      10   263.952381
20     Hyderabad       1   277.571429
21     Hyderabad       2   336.142857
22     Hyderabad       3        199.0
23     Hyderabad       4   378.809524
24     Hyderabad       5   243.571429
25     Hyderabad       6   322.047619
26     Hyderabad       7   230.095238
27     Hyderabad       8   132.333333
28     Hyderabad       9   230.714286
29     Hyderabad      10   518.714286
30        Jaipur       1    75.333333
31        Jaipur       2   102.333333
32        Jaipur       3    15.190476
33        Jaipur       4     78.47619
34        Jaipur       5    86.095238
35        Jaipur       6    42.904762
36        Jaipur       7    14.761905
37        Jaipur       8    87.095238
38        Jaipur       9   130.857143
39        Jaipur      10    33.952381
40        Mumbai       1   362.095238
41        Mumbai       2   296.238095
42        Mumbai       3    292.52381
43        Mumbai       4   210.380952
44        Mumbai       5   413.333333
45        Mumbai       6        370.0
46        Mumbai       7   248.761905
47        Mumbai       8   369.238095
48        Mumbai       9   236.142857
49        Mumbai      10   151.333333

In [13]:
clustered_dff = pd.merge(clustered_dff, filter_df, on=['shipping_city', 'cluster'], how='left', suffixes=('', '_cluster'))

cluster_dff = clustered_dff[clustered_dff['cluster_drr'] > 300.0]
cluster_boundaries_gdf = cluster_boundaries_gdf[cluster_boundaries_gdf['drr'] > 300]


# print(cluster_boundaries_gdf.head())
print(cluster_dff)

    pincode        state   district                  officename officetype  \
1    560011    Karnataka  Bangalore          Jayangar III Block        S.O
2    560002    Karnataka  Bangalore  Sri Jayachamarajendra Road        S.O
3    560017    Karnataka  Bangalore                         NAL        S.O
4    560003    Karnataka  Bangalore                 Malleswaram        S.O
5    560046    Karnataka  Bangalore                 Benson Town        S.O
..      ...          ...        ...                         ...        ...
367  400610  Maharashtra      Thane                  Apna Bazar        S.O
368  400615  Maharashtra      Thane               Kasarvadavali        S.O
369  400017  Maharashtra     Mumbai                Dharavi Road        S.O
373  400001  Maharashtra     Mumbai               Mumbai G.P.O.        H.O
375  400089  Maharashtra     Mumbai        Tilak Nagar (Mumbai)        S.O

                                              geometry       area   latitude  \
1    POLYGON ((77.58009 12.93669, 77.58062 12.93668...   1.549247  12.930216
2    POLYGON ((77.57450 12.95974, 77.57406 12.95990...   2.575045  12.962735
3    POLYGON ((77.67175 12.94089, 77.67136 12.94028...  10.993389  12.954162
4    POLYGON ((77.56012 13.00773, 77.56047 13.00771...   3.033743  13.001100
5    POLYGON ((77.60094 13.00842, 77.60484 13.00652...   2.199094  13.000319
..                                                 ...        ...        ...
367  POLYGON ((72.97715 19.21411, 72.97709 19.21413...   4.458535  19.229091
368  POLYGON ((72.96811 19.25728, 72.96556 19.25711...  23.381383  19.268802
369  POLYGON ((72.86905 19.05484, 72.86760 19.05291...   3.554587  19.045962
373  MULTIPOLYGON (((72.93165 18.96878, 72.93222 18...   6.480841  18.947166
375  POLYGON ((72.89090 19.06823, 72.89173 19.06832...   1.334611  19.069681

     longitude shipping_city shipping_pincode  orders  orders per sq km  \
1    77.585120     Bangalore           560011     751        484.751563
2    77.580647     Bangalore           560002     331        128.541425
3    77.663892     Bangalore           560017    1317        119.799275
4    77.572500     Bangalore           560003     661        217.882680
5    77.601435     Bangalore           560046     451        205.084458
..         ...           ...              ...     ...               ...
367  72.969627        Mumbai           400610     754        169.113843
368  72.958796        Mumbai           400615    1051         44.950293
369  72.854517        Mumbai           400017     454        127.722296
373  72.875751        Mumbai           400001     556         85.791333
375  72.898682        Mumbai           400089     705        528.243740

    cluster  centroids               current_date  gone_days        drr  \
1         7          0 2024-05-21 18:34:59.246769         21  35.761905
2         8          0 2024-05-21 18:34:59.246769         21  15.761905
3         3          0 2024-05-21 18:34:59.246769         21  62.714286
4         2          0 2024-05-21 18:34:59.246769         21  31.476190
5         2          0 2024-05-21 18:34:59.246769         21  21.476190
..      ...        ...                        ...        ...        ...
367       8          0 2024-05-21 18:34:59.246769         21  35.904762
368       8          0 2024-05-21 18:34:59.246769         21  50.047619
369       1          1 2024-05-21 18:34:59.246769         21  21.619048
373       6          0 2024-05-21 18:34:59.246769         21  26.476190
375       5          0 2024-05-21 18:34:59.246769         21  33.571429

    cluster_drr
1     441.47619
2    463.666667
3    668.095238
4    380.333333
5    380.333333
..          ...
367  369.238095
368  369.238095
369  362.095238
373       370.0
375  413.333333

[238 rows x 19 columns]

In [14]:
# Initialize Dash app
app = Dash(__name__)

# Define app layout
app.layout = html.Div([
    html.H1("Orders per square km by pincode", style={'text-align': 'center'}),
    dcc.Input(
        id='search_shippingcity',
        type = 'text',
        placeholder='Search Shipping City...',
        value='Bangalore',
        style={'width': "40%"}
    ),
    dcc.Dropdown(
        id="slct_cluster",
        options=[
            {"label": f"Cluster {i}", "value": i} for i in range(1, 11)
        ],
        multi=True,
        value=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        style={'width': "100%"}
    ),
    html.Div(id='output_container_city', children=[]),
    html.Div(id='output_container_cluster', children=[]),
    html.Br(),
    html.Div([
        dcc.Graph(id='map', figure={}),
        dcc.Graph(id='map2', figure={}),
    ], style={'display': 'flex', 'justify-content': 'space-between'}),
])

# Callback to update the graph
@app.callback(
    [Output(component_id='output_container_city', component_property='children'),
     Output(component_id='output_container_cluster', component_property='children'),
     Output(component_id='map', component_property='figure')],
    [Input(component_id='search_shippingcity', component_property='value'),
     Input(component_id='slct_cluster', component_property='value' )]
)
def update_graph(city_slctd, cluster_slctd):
    if not city_slctd or city_slctd not in merged_gdf['shipping_city'].unique():
        return "", "", {}
    output_container_city = "Results are shown for the Shipping City: {}".format(city_slctd)
    output_container_cluster = f"Results are shown for Cluster: {cluster_slctd}"
    dff = cluster_dff[(cluster_dff["shipping_city"] == city_slctd) & (clustered_dff["cluster"].isin(cluster_slctd))]
    dff['cluster'] = dff['cluster'].astype(str)
    

    # Generate centroid
    centroid = dff.geometry.centroid
    centroid_wgs84 = centroid.to_crs(epsg=4326)
    dff['geometry'] = dff['geometry'].simplify(tolerance=0.001)
    
    fig = px.choropleth_mapbox(
        dff,  # Use filtered data from merged_gdf
        geojson=dff.geometry,  # Pass geometry from filtered data
        locations=dff.index,  # Use index from filtered data
        color='cluster',
        hover_data=['pincode', 'cluster'],
        mapbox_style="carto-positron",
        center={"lat": centroid_wgs84.y.mean(), "lon": centroid_wgs84.x.mean()},
        zoom=8.5,
        opacity=0.9,
        template='plotly_dark'
    )
    fig.update_traces(
        hovertemplate='<b>Pincode:</b> %{customdata[0]}<br><b>Place:</b> %{customdata[1]}<br><b>drr:</b> %{customdata[2]}',
        customdata=dff[['pincode', 'officename', 'drr']],  # Use 'pincode' and 'officename' as customdata
        text=dff['pincode'] # Set 'pincode' as text
    )
    return output_container_city, output_container_cluster, fig

@app.callback(
    Output(component_id='map2', component_property='figure'),
    [Input(component_id='search_shippingcity', component_property='value'),
     Input(component_id='slct_cluster', component_property='value')]
)
def update_map2(city_slctd, cluster_slctd):
    if not city_slctd or city_slctd not in merged_gdf['shipping_city'].unique():
        return {}
    
    # Filter data for the selected city and cluster
    dff2 = cluster_boundaries_gdf[(cluster_boundaries_gdf["shipping_city"] == city_slctd) & (cluster_boundaries_gdf["cluster"].isin(cluster_slctd))]
    dff2['drr per sq km'] = pd.to_numeric(dff2['drr per sq km'], errors='coerce')
    
    # Generate centroid
    centroid = dff2.geometry.centroid
    centroid_wgs84 = centroid.to_crs(epsg=4326)
    dff2['geometry'] = dff2['geometry'].simplify(tolerance=0.001)
    
    # Create the second map
    fig2 = px.choropleth_mapbox(
        dff2,
        geojson=dff2.geometry,
        locations=dff2.index,
        color='drr per sq km',
        hover_data=['cluster', 'drr per sq km'],
        mapbox_style="carto-positron",
        center={"lat": centroid_wgs84.y.mean(), "lon": centroid_wgs84.x.mean()},
        color_continuous_scale="RdYlGn",
        range_color=[dff2['drr per sq km'].min(), dff2['drr per sq km'].max()],
        zoom=8.5,
        opacity=0.9,
        template='plotly_dark'
    )
    
    return fig2



if __name__ == '__main__':
    app.run(debug=True, port=8053, mode='external')
#     app.run()
# print(grouped_dff[grouped_dff['shipping_city'] == 'Bangalore'])

In [ ]:

cluster_level_data = cluster_boundaries_gdf[['shipping_city', 'cluster', 'number of pincodes', 'drr']].rename(columns={'shipping_city': 'city'}).astype({'drr': 'float'}).round({'drr': 0})

# Bangalore
bangalore = cluster_level_data[cluster_level_data['city'] == 'Bangalore'].sort_values(by='cluster')
bangalore.to_excel('cluster_bangalore.xlsx' , index=False)

# Mumbai
mumbai = cluster_level_data[cluster_level_data['city'] == 'Mumbai'].sort_values(by='cluster')
mumbai.to_excel('cluster_mumbai.xlsx', index=False)

# Delhi NCR
delhi_ncr = cluster_level_data[cluster_level_data['city'].isin(['Delhi', 'NCR'])].sort_values(by='cluster')
delhi_ncr.to_excel('cluster_delhi_ncr.xlsx', index=False)

# Hyderabad
hyderabad = cluster_level_data[cluster_level_data['city'] == 'Hyderabad'].sort_values(by='cluster')
hyderabad.to_excel('cluster_hyderabad.xlsx', index=False)

# Jaipur
jaipur = cluster_level_data[cluster_level_data['city'] == 'Jaipur'].sort_values(by='cluster')
jaipur.to_excel('cluster_jaipur.xlsx', index=False)

print(mumbai)

In [ ]:
pincode_level_data = clustered_dff[['shipping_city', 'cluster', 'pincode', 'drr']].rename(columns={'shipping_city': 'city'}).round({'drr': 0})
print(pincode_level_data.head())

# Bangalore
bangalore = pincode_level_data[pincode_level_data['city'] == 'Bangalore'].sort_values(by='cluster')
bangalore.to_excel('pincode_bangalore.xlsx' , index=False)

# Mumbai
mumbai = pincode_level_data[pincode_level_data['city'] == 'Mumbai'].sort_values(by='cluster')
mumbai.to_excel('pincode_mumbai.xlsx' , index=False)

# Hyderabad
hyderabad = pincode_level_data[pincode_level_data['city'] == 'Hyderabad'].sort_values(by='cluster') 
hyderabad.to_excel('pincode_hyderabad.xlsx' , index=False)

# Delhi and NCR
delhi_ncr = pincode_level_data[pincode_level_data['city'].isin(['Delhi', 'NCR'])].sort_values(by='cluster')
delhi_ncr.to_excel('pincode_delhi_ncr.xlsx' , index=False)

# Jaipur
jaipur = pincode_level_data[pincode_level_data['city'] == 'Jaipur'].sort_values(by='cluster')
jaipur.to_excel('pincode_jaipur.xlsx' , index=False)