In [28]:
from pymongo import MongoClient
import pandas as pd
from sshtunnel import SSHTunnelForwarder
import psycopg2 as psy
from datetime import datetime

In [29]:
def get_conn(SSH_requiered,key_path):   #for getting a conn as a result
    
    db='datawarehouse'
    DB_HOST='datawarehouse.cdgpvetprks3.ap-south-1.rds.amazonaws.com'
    conn = []
    if SSH_requiered == 'Yes':
        SSH_HOST='ec2-15-206-161-154.ap-south-1.compute.amazonaws.com'
        #LOCALHOST="0.0.0.0"
        ssh_tunnel= SSHTunnelForwarder(
                (SSH_HOST),
                ssh_username="ec2-user",
                ssh_private_key= key_path,
                ssh_private_key_password= "",
                remote_bind_address=(DB_HOST, 5432))
        print('Starting Tunnel Started')
        ssh_tunnel.start()
        print('Started, getting conn')
        conn = psy.connect(
            host=ssh_tunnel.local_bind_host,
            port=ssh_tunnel.local_bind_port,
            user='postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn
    else:
        conn = psy.connect(
            host = DB_HOST,
            port = 5432,
            user = 'postgres',
            password= "Simply1234",
            database='postgres')
        print('Connection Made')
        return conn

In [30]:
path = '~/Documents/Work/tunnel-ssh.cer'
# printthis('yes')
conn = get_conn('No',path)

Connection Made

In [31]:
client = MongoClient(host="mongodb+srv://growsimplee:gsimplee@prdgeolocation.xukcnu2.mongodb.net/?retryWrites=true&w=majority&appName=prdgeolocation")

In [32]:
db=client.geolocation
collection = db.rider_geolocation

In [33]:
# Define the UTC time range corresponding to 10:00 AM IST on October 7, 2024
# 10:00 AM IST = 4:30 AM UTC
# (year, month, date, hour, minutes, seconds)
start_time = datetime(2024, 11, 10, 2, 30, 0)  # 04:25:00 UTC (09:55 AM IST)
end_time = datetime(2024, 11, 10, 2, 40, 0)    # 04:35:00 UTC (10 minute window)

# Aggregation pipeline
query = [
    {
        "$match": {
            "timestamp": {
                "$gte": start_time,
                "$lt": end_time
            }
        }
    },
    {
        "$sort": {
            "timestamp": 1  # Sort by ascending timestamp
        }
    },
    {
        "$group": {
            "_id": "$metadata.rider_id",
            "rider_id": { "$first": "$metadata.rider_id" },
            "timestamp": { "$first": "$timestamp" },
            "latitude": { "$first": "$payload.coords.latitude" },
            "longitude": { "$first": "$payload.coords.longitude" }
        }
    },
    {
        "$project": {
            "_id": 0,
            "rider_id": 1,
            "timestamp": 1,
            "latitude": 1,
            "longitude": 1
        }
    }
]


results=collection.aggregate(query)
result=list([doc for doc in results if doc and all(field is not None for field in doc.values())])
#result = {rider['rider_id']: {'timestamp':rider['timestamp'],"latitude": rider['latitude'], "longitude": rider['longitude'] } for rider in result}

In [34]:
df=pd.DataFrame(result)

In [35]:
df

    rider_id               timestamp   latitude  longitude
0       7789 2024-11-10 02:34:41.282  28.542420  77.052319
1       8256 2024-11-10 02:38:14.166  13.004539  77.575080
2       8527 2024-11-10 02:30:45.701  17.394279  78.435398
3       8424 2024-11-10 02:33:56.548  12.959331  77.700387
4       5849 2024-11-10 02:34:54.050  19.213733  72.848321
..       ...                     ...        ...        ...
562     4342 2024-11-10 02:31:40.445  13.017900  77.612378
563     6904 2024-11-10 02:38:16.621  26.899854  75.785384
564     5599 2024-11-10 02:35:26.119  28.514446  77.066278
565     8260 2024-11-10 02:31:35.129  12.993788  77.688184
566     6229 2024-11-10 02:36:26.204  19.081934  72.894272

[567 rows x 4 columns]

In [36]:
print(df.dtypes)

rider_id             object
timestamp    datetime64[ns]
latitude            float64
longitude           float64
dtype: object

In [37]:
conn.close()

In [38]:
import io
from psycopg2 import connect, sql

In [39]:
#csv_data = filtered_final.to_csv(index=False, header=True, sep='\t')
#     hook = PostgresHook(postgres_conn_id="postgres_datawarehouse_public")
#     conn = hook.get_conn()
#     cursor = conn.cursor()

#     copy_data_query = f"""
#     COPY temp_fm_status FROM STDIN WITH CSV DELIMITER '\t' HEADER;
#     """

#     cursor.copy_expert(copy_data_query, io.StringIO(csv_data))
#     conn.commit()
#     cursor.close()
#     conn.close()

In [40]:
import io
import psycopg2  # Assuming you are using psycopg2 for the PostgreSQL connection

# Convert DataFrame to CSV format
csv_data = df.to_csv(index=False, header=True, sep='\t')

# Step 2: Connect to PostgreSQL (using psycopg2)
conn = get_conn('No', path)
cursor = conn.cursor()

try:
    # Step 3: Delete existing data in the table
    delete_data_query = "DELETE FROM rider_location;"
    cursor.execute(delete_data_query)
    
    # Step 4: Define the COPY command
    copy_data_query = """
    COPY rider_location FROM STDIN WITH CSV DELIMITER '\t' HEADER;
    """
    
    # Step 5: Use copy_expert to execute the COPY command
    cursor.copy_expert(copy_data_query, io.StringIO(csv_data))
    
    # Step 6: Commit the transaction
    conn.commit()
    
finally:
    # Step 7: Close the cursor and connection
    cursor.close()
    conn.close()

Connection Made